<% include ../template/header.ejs %> 
<% include ../template/sidebar.ejs %> 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Users</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Posts</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Title</th>
                  <th>Categories</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% for(var i=0;i<data.length;i++){ %>
                	<tr>
                		<td>
                			<%= (i+1) %>
                		</td>
                		<td>
                      <%= data[i].title %>
                    </td>
                    <td>
                        <span class="bg bg-info " title="Posts Categories"> <%= data[i].categories %> </span>
                    </td>
                    <td>
                      <%= data[i].created %>
                    </td>
                    <td>
                      <a href="/posts/view/<%= data[i].id %>" target="_blank" class="btn btn-warning"> <span class="text text-white fa fa-pencil"></span> </a>
                      <a href="/posts/delete/<%= data[i].id %>" class="btn btn-danger" onclick="return confirmation();"> <span class="text text-white fa fa-trash" ></span> </a>
                    </td>
                  </tr>
                	<% } %>
                </tbody>
                <tfoot>
                <tr>
                  <th>No</th>
                  <th>Title</th>
                  <th>Categories</th>
                  <th>Created</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<% include ../template/footer.ejs %> 
<!-- DataTables -->
<script src="adminlte/plugins/datatables/jquery.dataTables.js"></script>
<script src="adminlte/plugins/datatables/dataTables.bootstrap4.js"></script>
<script>
  $(function () {
    $('#example2').DataTable({
      // "paging": true,
      // "lengthChange": false,
      // "searching": true,
      // "ordering": true,
      // "info": true,
      // "autoWidth": true
    });
  });
</script>